@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.own-container {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
@media (max-width: 1400px) {
  .own-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

header {
  height: 80px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
header .logo,
header .right-bar {
  flex: 1 0 100px;
  padding: 15px 0;
}
header .search {
  flex: 0 1 auto;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
header .search button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  font-weight: 500;
}
header .search button.search-guest {
  position: relative;
  padding-right: 50px;
  font-weight: 400;
}
header .search button.search-guest a {
  display: inline-block;
  background: #ff385c;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  position: absolute;
  right: 5px;
  top: 6px;
}
header .search button.search-guest a ion-icon {
  color: #fff;
  font-size: 20px;
}
header .right-bar .left-nav {
  margin-bottom: 0;
}
header .right-bar .left-nav li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}
header .right-bar .left-nav li a:hover {
  background: rgba(0, 0, 0, 0.05);
}
header .right-bar .left-nav li:last-child a {
  padding: 14px;
  margin-right: 15px;
}
header .right-bar .dropdown .btn {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
header .right-bar .dropdown .btn .hamburger span {
  display: block;
  width: 16px;
  height: 2px;
  background: #000;
}
header .right-bar .dropdown .btn .hamburger span:nth-child(2) {
  margin: 3px 0;
}
header .right-bar .dropdown .btn img {
  opacity: 0.5;
}
header .right-bar .dropdown .btn:after {
  display: none;
}
header .right-bar .dropdown .btn.show, header .right-bar .dropdown .btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
header .right-bar .dropdown ul.dropdown-menu {
  width: 240px;
  border: none;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
  top: 13px !important;
}
header .right-bar .dropdown ul.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
}

.navigation .slide-nav .main-menu {
  padding: 0 30px;
  overflow: hidden;
}
.navigation .slide-nav .swiper {
  overflow: visible;
}
.navigation .slide-nav .swiper .swiper-slide {
  width: auto;
  text-align: center;
}
.navigation .slide-nav .swiper .swiper-slide a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 15px 0 15px;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
}
.navigation .slide-nav .swiper .swiper-slide a img {
  height: 24px;
}
.navigation .slide-nav .swiper .swiper-slide a p {
  white-space: nowrap;
  margin-bottom: 0;
  margin-top: 7px;
}
.navigation .slide-nav .swiper .swiper-slide a:hover {
  opacity: 1;
}
.navigation .slide-nav .swiper .swiper-slide a:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ff385c;
  bottom: 0;
  left: 0;
}
.navigation .slide-nav .swiper .swiper-button {
  background: #fff;
  height: 100%;
  top: 22px;
}
.navigation .slide-nav .swiper .swiper-button:after {
  display: none;
}
.navigation .slide-nav .swiper .swiper-button ion-icon {
  font-size: 35px;
  color: #000;
}
.navigation .slide-nav .swiper .swiper-button.swiper-button-next {
  right: -30px;
  left: auto;
}
.navigation .slide-nav .swiper .swiper-button.swiper-button-prev {
  left: -30px;
  right: auto;
}
.navigation .filter a {
  padding: 14px 15px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: #000;
  opacity: 1;
  font-size: 12px;
  font-weight: 500;
}
.navigation .filter a:hover {
  background: transparent;
  color: #000;
  border: solid 1px #000;
}
.navigation .total-price-toggle {
  padding: 10px 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.navigation .total-price-toggle span {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}
.navigation .total-price-toggle .toggle {
  border: none;
  height: 26px !important;
  min-height: 26px;
  min-width: 36px;
  padding: 0;
}
.navigation .total-price-toggle .toggle .toggle-group .btn {
  position: absolute;
  border-radius: 50px;
  padding: 0;
}
.navigation .total-price-toggle .toggle .toggle-group .btn:before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  border-radius: 40px;
  top: 2px;
}
.navigation .total-price-toggle .toggle .toggle-group .btn.toggle-off {
  background: #b0b0b0;
  color: #b0b0b0;
}
.navigation .total-price-toggle .toggle .toggle-group .btn.toggle-off:before {
  background: #fff;
  left: 2px;
}
.navigation .total-price-toggle .toggle .toggle-group .btn.toggle-on {
  background: #000;
  color: #000;
}
.navigation .total-price-toggle .toggle .toggle-group .btn.toggle-on:before {
  background: #fff;
  left: auto;
  right: 2px;
}
.navigation .total-price-toggle .toggle .toggle-group .toggle-handle {
  display: none;
}

.main-content .results .property {
  position: relative;
}
.main-content .results .property a.wishlist {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  font-size: 30px;
}
.main-content .results .property .property-images {
  border-radius: 15px;
}
.main-content .results .property .property-images.swiper .swiper-button {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 30px;
  opacity: 0;
}
.main-content .results .property .property-images.swiper .swiper-button ion-icon {
  color: #000;
  font-size: 16px;
}
.main-content .results .property .property-images.swiper .swiper-button:after {
  display: none;
}
.main-content .results .property .property-images.swiper .swiper-button.swiper-button-disabled {
  opacity: 0;
}
.main-content .results .property .property-images.swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}
.main-content .results .property .property-images.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f00;
  width: 15px;
  height: 8px;
  border-radius: 5px;
}
.main-content .results .property .property-images.swiper:hover .swiper-button {
  opacity: 1;
}
.main-content .results .property .property-details {
  padding-top: 15px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.main-content .results .property .property-details .property-location h6 {
  margin-bottom: 0;
}
.main-content .results .property .property-details .property-location p ion-icon {
  font-size: 14px;
  margin-right: 3px;
}
.main-content .results .property .property-details .property-location p span {
  font-weight: 400;
  opacity: 0.7;
}
.main-content .results .property .property-details .far-away, .main-content .results .property .property-details .next-available {
  opacity: 0.7;
  font-weight: 400;
}
.main-content .results .property .property-details .price {
  margin-top: 5px;
}
.main-content .results .property .property-details .price p span {
  opacity: 0.7;
  font-weight: 400;
}
.main-content .results .showmore {
  font-size: 18px;
  font-weight: 500;
}
.main-content .results .showmore .btn {
  background: #000;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: #fff;
  margin-top: 15px;
}
.main-content .property-details .main-title h5 {
  font-size: 28px;
  font-weight: 500;
}
.main-content .property-details .main-title .share-property a {
  color: #000;
  text-decoration: underline;
}
.main-content .property-details .gallery {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.main-content .property-details .gallery .gallery-img {
  position: relative;
  display: block;
}
.main-content .property-details .gallery .gallery-img:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.main-content .property-details .gallery .show-all-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #fff;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 8px;
}
.main-content .property-details .gallery .modal .modal-dialog .modal-content .modal-body .modal-topheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 20px;
  background: #fff;
  z-index: 10;
}
.main-content .property-details .gallery .modal .modal-dialog .modal-content .modal-body .modal-topheader .share-property a {
  color: #000;
  text-decoration: underline;
}
.main-content .property-details .gallery .modal .modal-dialog .modal-content .main-gallery {
  margin-top: 100px;
}
.main-content .property-details .gallery .modal .modal-dialog .modal-content .main-gallery .gallery-img {
  position: relative;
  display: block;
  height: 100%;
}
.main-content .property-details .gallery .modal .modal-dialog .modal-content .main-gallery .gallery-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.lightboxOverlay {
  opacity: 1;
}

.lightbox {
  top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lightbox .lb-outerContainer {
  position: static;
  background: transparent;
}
.lightbox .lb-outerContainer .lb-image {
  border: none;
  border-radius: 0;
}
.lightbox .lb-dataContainer {
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: 10;
}
.lightbox .lb-dataContainer .lb-data .lb-details .lb-number {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.lightbox .lb-dataContainer .lb-data .lb-closeContainer {
  position: absolute;
  left: 30px;
  top: 20px;
}
.footer {
  background: #f7f7f7;
}
.footer .nav-tabs .nav-item .nav-link {
  color: #000;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  border: none;
  position: relative;
  padding: 10px 0;
  margin-right: 30px;
}
.footer .nav-tabs .nav-item .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 2px;
  opacity: 0;
}
.footer .nav-tabs .nav-item .nav-link.active {
  background: transparent;
  border: none;
  opacity: 1;
}
.footer .nav-tabs .nav-item .nav-link.active:after {
  opacity: 1;
}
.footer .tab-content .tab-pane p {
  font-size: 16px;
  font-weight: 500;
}
.footer .tab-content .tab-pane span {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}
.footer .quick-links {
  font-size: 16px;
  font-weight: 400;
}
.footer .quick-links h5 {
  font-size: 16px;
}
.footer .quick-links ul li a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  margin-bottom: 5px;
  display: inline-block;
}
.footer .copyright {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  margin-top: 20px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
}
.footer .copyright ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s ease;
  position: relative;
  padding-left: 13px;
  opacity: 1;
}
.footer .copyright ul li a:hover {
  color: #f00;
  text-decoration: underline;
}
.footer .copyright ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  background: #000;
  border-radius: 3px;
}
.footer .copyright .social li a:before {
  display: none;
}/*# sourceMappingURL=main.css.map */